// Microsoft Visual C++ generated resource script.
//
#include <windows.h>
#include "Resource.h"

#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_MAINDLG DIALOGEX 0, 0, 173, 155
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Migration - v1.0 - Build 0014"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "(呼..呼哧...)神马的相关", IDC_STATIC, 1, 0, 171, 42
    PUSHBUTTON      "塞棒棒糖",IDC_CLOSEHANDLE,10,11,153,25
    GROUPBOX        "脸面相关", IDC_STATIC, 1, 42, 171, 46
    PUSHBUTTON      "躲猫猫",IDC_HIDEWINDOW,18,57,60,24
    PUSHBUTTON      "跨省追捕",IDC_SHOWWINDOW,93,57,60,24
    LTEXT           "说明:\n开一个游戏，先塞棒棒糖，然后跟TP娘玩躲猫猫，\n再开第二个游戏，然后把第一个游戏跨省出来。\n跨省的时候发现双开后残留QQLogin会自动帮你杀掉。\n\nWinXP/2003/Vista/Win7通杀，x86/x64通杀。\n稳定性: x64>x86(Win7/Vista)>x86(WinXP/2003)", IDC_STATIC, 5, 90, 165, 59
    LTEXT           "Coded by Riatre (Who care?)",IDC_STATIC,80,147,92,8,WS_DISABLED,WS_EX_RIGHT
END
